div {
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    color: rgb(49, 61, 167);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2rem;
}

