div {
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    color: rgb(49, 61, 167);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    color: rgb(182, 21, 147);
    background-color: rgb(151, 208, 223);
    font-weight: bold;
    font-size: 1.5rem;
}

.description,
.ingredients,
.steps {
    color: rgb(15, 44, 99);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

